
<div *ngIf="Language == 1" id="header-three" class="container-fluid">
    <div class="container">
        <div class="col-10" id="header-three-content">
            <h4 id="responsive-title"> Nandamojo watershed  </h4>
        </div>
    </div>
</div>

<div *ngIf="Language == 2" id="header-three" class="container-fluid">
    <div class="container">
        <div class="col-10" id="header-three-content">
            <h4 id="responsive-title"> Cuenca Nandamojo  </h4>
        </div>
    </div>
</div>




<app-location-img-wtd></app-location-img-wtd>
<app-text-wtd></app-text-wtd>
<app-texto-conciencia-a></app-texto-conciencia-a>
<app-carrousel-guanacaste-watershed></app-carrousel-guanacaste-watershed>


