
.login-register {
    height: 100%;
    width: 100%;
    padding: 3% 0;
    opacity: 1;
}

.btn {
    background-color: #0D8E95;
    border-color: #0D8E95;;
}

.card-body{
    width: 100%;
}
.login-box {
    width: 450px;
    margin: 0 auto;
}

#recoverform {
    display: none;
}

.container-fluid{
    background-image: url("../../../assets/images/loginImage.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 860px;
    width: 100%;
}
.password{
    margin-left: 1.5px;
}


@media (max-width: 450px) {
.card-body{
    width: 100%;
}
.login-box {
    width: 350px;
    margin: 0 auto;
}
}