
<div *ngIf="Language == 1" id="header-three" class="container-fluid">
    <div class="container">
        <div class="col-12" id="header-three-content">
            <h4 id="responsive-title"> Restoring Our Watershed  </h4>
        </div>
    </div>
</div>

<div *ngIf="Language == 2" id="header-three" class="container-fluid">
    <div class="container">
        <div class="col-12" id="header-three-content">
            <h4 id="responsive-title"> Asociación Nandamojo  </h4>
        </div>
    </div>
</div>

<app-text-row></app-text-row>

