/*Affiliates section*/
#affiliates-secction{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: rgb(245, 245, 245);
}
#affiliates-container > h1{
    color: #774F38;
}

#affiliates-container > hr{
    margin-bottom: 50px;
}

.card{
    margin-left: 10px;
    max-width: 500px;
    max-height: 300px;
}
/*Affiliates section*/