 <!---------------inicio Texto descriptivo mapa ubicacion--------------------------------->
 <div  *ngFor="let Info of gwdInfo" id="container_texto_mapa" class="container-fluid">

    <div id="texto_mapa1" class="container">
        <hr>
        <h1> {{Info.description}} </h1>
    </div>

    <div id="texto_mapa2" class="text">
        <h2>{{Info.direction}}</h2>
    </div>
</div>
<!--------------- fin Texto descriptivo--------------------------------->
<!--------------- fin Texto descriptivo mapa ubicacion --------------------------------->
