<div class="row animated fadeIn">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="text-right">
            <button [routerLink]="['/admin/list/product/service']"
              class="btn waves-effect waves-light btn-rounded btn-primary">
              <i class="fas fa-arrow-alt-circle-left"></i>
              Back
            </button>
          </div>
  
          <div class="container">
            <form #form="ngForm" [formGroup]="productService" (ngSubmit)="ngSubmit()" autocomplete="off">
              <input hidden formControlName="id" />
  
              <div class="container">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label> Product Service Name (English)</label>
                      <input maxlength="250" class="form-material form-control" type="text" formControlName="nameEn"
                        [class.is-invalid]="invalidNameEn" required />
                      <small *ngIf="invalidNameEn" class="text-danger">
                        This field is requiered
                      </small>
                      <small class="text-danger" *ngIf="productService.value.nameEn.length > 249">
                        Only 250 Characters
                      </small>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label> Product Service Name (Spanish)</label>
                      <input maxlength="250" class="form-material form-control" type="text" formControlName="nameSp"
                        [class.is-invalid]="invalidNameSp" required />
                      <small *ngIf="invalidNameSp" class="text-danger">
                        This field is requiered
                      </small>
                      <small class="text-danger" *ngIf="productService.value.nameSp.length > 249">
                        Only 250 Characters
                      </small>
                    </div>
                  </div>
                </div>
              </div>
              
  
             
              <input hidden formControlName="product_service_fk" />
              <input hidden formControlName="category_languajes_fk" />
  

              <div class="container">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label> Description in English
                        <small>
                          (Limit 360 Characters -
                          {{ productService.value.decriptionEn.length }})
                        </small>
                      </label>
                      <textarea  rows="5" maxlength="360" class="form-material form-control" type="text" formControlName="decriptionEn"
                        [class.is-invalid]="invalidDecriptionEn" required ></textarea>
                      <small *ngIf="invalidDecriptionEn" class="text-danger">
                        This field is requiered
                      </small>
                      <small class="text-danger" *ngIf="productService.value.decriptionEn.length > 359">
                        Only 360 Characters
                      </small>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label> Description in Spanish
                        <small>
                          (Limit 360 Characters -
                          {{ productService.value.decriptionSp.length }})
                        </small>
                      </label>
                      <textarea  rows="5" class="form-material form-control" type="text" formControlName="decriptionSp"
                        required [class.is-invalid]="invalidDecriptionSp"></textarea>
                      <small *ngIf="invalidDecriptionSp" class="text-danger">
                        This field is requiered
                      </small>
                      <small class="text-danger" *ngIf="productService.value.decriptionSp.length > 359">
                        Only 360 Characters
                      </small>
                    </div>
                  </div>
                </div>
              </div>

  
              <div class="container">
                <div class="row">
                  <div class="col-sm-8">
                    <div class="form-group">
                      <label>Image</label>
                      <input  [class.is-invalid]="invalidImage" class="form-material form-control" type="text" formControlName="image" required />
                      <small *ngIf="invalidDecriptionSp" class="text-danger">
                        This field is requiered
                      </small>
                      <small class="text-danger" *ngIf="productService.value.decriptionSp.length > 249">
                        Only 250 Characters
                      </small>
                    </div>
                  </div>
                  <div class="col-sm-4 text-center">
                    <h4>Image</h4>
                    <div *ngIf="productService.value.image.length > 20" class="form-group container text-center"> 
                      <img class="rounded" src="{{productService.value.image}}" height="60%" width="90%">
                    </div>
                  </div>
                </div>
              </div> 
  

              <div class="form-group">
                <div *ngIf="button === 1" class="container col-7">
                  <button type="submit" [disabled]="productService.invalid" class="btn btn-success btn-block fas">
                    SAVE <i class="fas fa-user-plus"></i>
                  </button>
                </div>
                <div *ngIf="button === 2" class="container col-7">
                  <button type="submit" [disabled]="productService.invalid" class="btn btn-warning btn-block fas">
                    UPDATE <i class="fas fa-user-edit"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>