
<section id="hero">
     
    <div class="hero-container">
      
      <div class="wow fadeIn">
        <div class="hero-logo">
            <!--  <img _ngcontent-wte-c58="" src="../../../../assets/images/logo.png" width="30" height="30" alt=" " class="flota d-inline-block align-top disableWidth720">-->
          <img class="" src="../../../../../assets/images/logo.png" alt="">
        </div>
        <h1>COMING SOON</h1>
        <h2 class="rotating">Our Website is under construction..... <span class="rotating"></span></h2>
        <div class="actions">
          <a routerLink= "/" >HOME</a>
         
        </div>
      </div>
    </div>
</section>