<div class="container-fluid animated fadeIn">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="card rounded-lg">
                <form #form="ngForm" [formGroup]="user" (ngSubmit)="onSubmit()" autocomplete="off">
                    <input hidden formControlName="id" />

                    <div class="form-group">
                        <label> Email </label>
                        <input disabled class="form-material form-control" type="email" formControlName="email"
                            email="true"   required /> 
                    </div> 
                         

                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <div class="form-row form-group password">
                                    <label> Password </label>
                                    <div class="input-group">
                                        
                                        <input [type]="show ? 'text' : 'password'" class="form-control" minlength="8" formControlName="password" [class.is-invalid]="invalidPassword" type="password" required  >
                                        <div class="input-group-append">
                                            <button (click)="show_password()" class="btn btn-primary rounded-lg" type="button">
                                                <span *ngIf="show" class="fa fa-eye-slash icon mr-1"></span>
                                                <i *ngIf="!show" class="fas fa-eye mr-1"></i> 
                                            </button>
                                        </div>
                                        
                                    </div>
                                    <small *ngIf="invalidPassword" class="text-danger password-requiered">
                                        This field is requiered
                                    </small>
                                    <small class="text-danger"
                                    *ngIf="this.user.get('password').errors?.minlength">
                                    (The password must have 8 characters minumun)
                                </small>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-sm">

                            <div class="form-group">
                                <label> Password Confirmation </label>
                                <input class="form-material form-control" type="password" min="8"
                                    formControlName="password_confirmation"
                                    [class.is-invalid]="invalidConfirmPassword" [class.is-invalid]="!password"
                                    required />
                                <small *ngIf="invalidPassword" class="text-danger">
                                    This field is requiered
                                </small>
                                <small *ngIf="!password" class="text-danger">
                                    Check yours Password
                                </small>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="container col-sm-7">
                            <button type="submit" [class.is-invalid]="!password" [disabled]="user.invalid"
                                class="btn btn-primary btn-block fas">
                                Reset Password
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
      </div>
    
</div>