/*third header css*/
#header-three {
    background-color: #89BAB8;
    height: 90px;
    width: auto;
    justify-content: flex-start;
    box-shadow: 0px 10px 15px -10px;
}

#third-header-title {
    padding-top: 15px;
    color: #774F38;
    font-size: 40px;
}
@media only screen and (max-width: 900px) {
    #header-three {
        background-color: #89BAB8;
        height: 90px;
        width: auto;
        justify-content: flex-start;
        box-shadow: 0px 10px 15px -10px;
    }
    
    #third-header-title {
        padding-top: 15px;
        color: #774F38;
        font-size: 35px; 
        font-weight: bold;
        font-family:'Times New Roman', Times, serif;
   }
}
@media only screen and (max-width: 400px) {
    #header-three {
        background-color: #89BAB8;
        height: 90px;
        width: auto;
        justify-content: flex-start;
        box-shadow: 0px 10px 15px -10px;
    }
    
    #third-header-title {
        padding-top: 15px;
        color: #774F38;
        font-size: 23px; 
        font-weight: bold;
        font-family:'Times New Roman', Times, serif;
   }
}