 
 <!--------------- Inicio texto de conciencia ambiental --------------------------------->
<div *ngFor="let info of gwdInf" id="ContainerConciencia" class="container col-sm-11 col-md-12 col-xl-11">
    <div id="Titulo_wtd" class="container-fluid">
    <h1> {{info.paragraph1}} </h1>
    <hr style="width: 100%;" color="#774F38"><!--{{Info.paragraph2}}-->
    <p class="text-justify">{{info.paragraph2}}</p>
    <hr style="width:0%;">
    <p class="text-justify">{{info.paragraph3}}</p>
    <hr style="width:0%;">
    <p class="text-justify">{{info.paragraph4}}</p>
    <hr style="width:0%;">
    <p class="text-justify">{{info.paragraph5}}</p>
    <hr style="width:0%;">
    <p class="text-justify">{{info.paragraph6}}</p>
    </div>
</div>




<!--------------- fin texto de conciencia ambiental ---------------------------------> 
