<div class="container-fluid animated fadeIn">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="card rounded-lg">
                
                <form #form="ngForm" [formGroup]="user" (ngSubmit)="onSubmit( )" >

                    <div class="form-group">
                        <label >Email</label>
                        <input class="form-control" formControlName="email" [class.is-invalid]="invalidEmail" type="email"
                        required>
                        <small *ngIf="invalidEmail" class="text-danger">
                        This field is requiered
                        </small>
                    </div>
                    <div class="form-group text-right">
                        <button  [disabled]="form.invalid" class="btn btn-primary" type="submit">Send Email</button>
                    </div>

                </form>

            </div>
        </div>
      </div>
    
</div>