.container-fluid{
    background-image: url("../../../assets/images/loginImage.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 860px;
    width: 100%;
}
.card{
    padding: 30px;
}