<button type="button" class="btn btn-primary" (click)="openModal(template)">Add group</button>
 
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add volunteer group</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="row" [formGroup] = "groupsForm" (ngSubmit) = "insertGroup()">

        <div class="form-group col-5 ml-1">

            <input type="text" placeholder="Nombre en español" formControlName="spanishVersion"
             class="form-control" [ngClass]="{ 'is-invalid': submitted && f.spanishVersion.errors }"/>

            <div *ngIf="submitted && f.spanishVersion.errors" class="invalid-feedback">
                <div *ngIf="f.spanishVersion.errors.required">This field is required</div>
                <div *ngIf="f.spanishVersion.errors.minlength">Should have at list 2 characters</div>
                <div *ngIf="f.spanishVersion.errors.maxlength">Should have less than 50 characters</div>
            </div>
            
        </div>
    
        <div class="form-group col-5 ml-1">

            <input type="text" placeholder="Nombre en inglés" formControlName="englishVersion"
             class="form-control" [ngClass]="{ 'is-invalid': submitted && f.englishVersion.errors }"/>

            <div *ngIf="submitted && f.englishVersion.errors" class="invalid-feedback">
                <div *ngIf="f.englishVersion.errors.required">This field is required</div>
                <div *ngIf="f.englishVersion.errors.minlength">Should have at list 2 characters</div>
                <div *ngIf="f.englishVersion.errors.maxlength">Should have less than 50 characters</div>
            </div>

        </div>
    
        <div class="form-group col-11">
            <button class="btn btn-success" type="submit">Create group</button>
        </div>
    </form>
  </div>
</ng-template>

<ng-template #updateModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Update volunteer group</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="row" [formGroup] = "groupsForm">

        <div class="form-group col-5 ml-1">

            <input type="text" placeholder="Nombre en español" formControlName="spanishVersion"
             class="form-control" [ngClass]="{ 'is-invalid': submitted && f.spanishVersion.errors }"/>

            <div *ngIf="submitted && f.spanishVersion.errors" class="invalid-feedback">
                <div *ngIf="f.spanishVersion.errors.required">This field is required</div>
                <div *ngIf="f.spanishVersion.errors.minlength">Should have at list 2 characters</div>
                <div *ngIf="f.spanishVersion.errors.maxlength">Should have less than 50 characters</div>
            </div>
            
        </div>
    
        <div class="form-group col-5 ml-1">
            <input type="text" placeholder="Nombre en inglés" formControlName="englishVersion"
             class="form-control" [ngClass]="{ 'is-invalid': submitted && f.englishVersion.errors }"/>

            <div *ngIf="submitted && f.englishVersion.errors" class="invalid-feedback">
                <div *ngIf="f.englishVersion.errors.required">This field is required</div>
                <div *ngIf="f.englishVersion.errors.minlength">Should have at list 2 characters</div>
                <div *ngIf="f.englishVersion.errors.maxlength">Should have less than 50 characters</div>
            </div>
        </div>
    
        <div class="form-group col-11">
            <button (click) = "updateVolunteerGroup()" class="btn btn-warning">Update group</button>
        </div>
    </form>
  </div>
</ng-template>

<table class="col-12 ml-1 table table-hover">
    
    <thead>
      <tr>
        <th>Groups list</th>
      </tr>
    </thead>
    <tbody>
      <div *ngIf="groupsList?.length != 0">
        <tr *ngFor="let item of groupsList">
          <td>{{item.name}}</td>
          <td> 
            <i (click)="deleteGroup(item.group_fk)" class="pointer fas fa-trash-alt"></i>
            <i (click)="openUpdateModal(updateModal, item.group_fk)" class="pointer fas fa-edit ml-3"></i>  
          </td>
        </tr>
      </div>   
    </tbody>

</table>
