
.error-box {
    height: 100%;
    position: fixed;
    background: url(../../../../assets//images/error-bg.jpeg) ;
    width: 100%;
    background-size: cover; 
}
.error-box .footer {
    width: 100%;
    left: 0px;
    right: 0px; 
}
  
.error-body {
    padding-top: 5%; 
}

.error-body h1 {
    font-size: 150px;
    font-weight: 900;
    text-shadow: 4px 4px 0 #ffffff, 6px 6px 0 #263238;
    line-height: 210px;
}
#colorTexto{
    color: white;
    background-color: #0d8e95;
}